* {
    div {
        border: 2px solid black;
    }
}

.main {
    max-width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: black;

}

.head {
    flex: 1;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.h1 {
    flex: 1;
    display: flex;
    align-items: center;
}

.h2 {
    flex: 1;
    display: flex;
    align-items: center;
}

.h3 {
    flex: 1;
    display: flex;
    align-items: center;


}

.h33{
    color: yellow;
    background-color: rgb(112, 64, 64);
    height: 50px;
    width: 100px;
    border: 2px solid yellow;
    border-radius: 10px;
}

.h4 {
    flex: 1;
    display: flex;
    align-items: center;
}

.h5 {
    flex: 1;
    display: flex;
    align-items: center;
    height: 10px;

}

.h6 {
    flex: 1;
    display: flex;
    align-items: center;
}
.h66{
    height: 50px;
    width: 200px;
    padding-right: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.h7 {
    flex: 1;
    display: flex;
    color: yellow;
    border: 2px solid yellow;
    border-radius: 10px;
}
.search{
    height: 20px;
}
.h8 {
    flex: 1;
    display: flex;
    align-items: center;
}

.h9 {
    flex: 1;
    display: flex;
    align-items: center;
}

.top {
    flex: 0.5;
    display: flex;
    flex-direction: row;
    color: white;
}

.t-l {
    flex: 1;
    display: flex;
    align-items: end;
    justify-content: start;
}

.t-r {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;



}

.tr-l {
    flex: 9;
    display: flex;

    justify-content: end;
    align-items: center;
}

.tr-m {
    flex: 1;
    display: flex;
}

.tr-r {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: start;

}

.middle {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-right: 30px;
}

.m-1 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    color: yellow;
    border-radius: 10px;
    

}

.m-2 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    color: yellow;
    border-radius: 5px;
}

.m-3 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    color: yellow;
}

.m-4 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    color: yellow;

}

.m-5 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    color: rgb(228, 228, 74);
}

.m-6 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    color: yellow;
}

.m-7 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    color: yellow;
}

.bottom {
    flex: 1;
    display: flex;
    flex-direction: row;
    border: none;
    gap: 5px;
    flex-wrap: wrap;
    color: black;
}

.b-1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    object-fit: cover;
}

.b1-t {
    border-radius: 10px;
    border: none;
    object-fit: cover;
    border-radius: 20px;
    margin: 5px;

}


.salim {
    height: 200px;
    width: 350px !important;
    border-radius: 20px;
    margin: 5px;

}

.b11 {
    
    position: relative;
    background-color: black;
    color: yellow;
    top: -30px;
    border-radius: 10px;
    width: 50px;
}

.b1-b {
    flex: 1;
    border: none;

}

.b-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;

}

.b2-t {
    flex: 2;
    border-radius: 10px;
    border: none;
}

.sulaiman {
    width: 350px;
    height: 200px;
    border-radius: 20px;
    margin: 5px;
}

.b12 {
    position: relative;
    background-color: black;
    color: yellow;
    border-radius: 10px;
    top: -30px;
    width: 50px;

}

.b2-b {
    flex: 1;
    border: none;
}

.b-3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;

}

.b3-t {
    flex: 2;
    border-radius: 10px;
    border: none;

}

.dj {
    height: 200px;
    width: 350px;
    border-radius: 20px;
    margin: 5px;
}
.b13{
    position: relative;
    background-color: black;
    color: yellow;
    top: -30px;
    width: 50px;
    border-radius: 10px;
}
.b3-b {
    flex: 1;
    border: none;
    align-items: center;
    justify-content: center;
}

.b-4 {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;

}

.b4-t {
    flex: 2;
    border-radius: 10px;
    border: none;
}

.rahul {
    height: 200px;
    width: 340px;
    border-radius: 10px;
    margin: 5px;
}
.b14{
    position: relative;
    background-color: black;
    color: yellow;
    border-radius: 10px;
    top: -30px;
    width: 50px;
}
.b4-b {
    flex: 1;
    border: none;
}

.b-1 img {

    width: 100%;
}

button {
    width: 100%;
    height: 100%;

}